/* 

1. Posisionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros

*/

:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --gray: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "DM Sans", sans-serif;
}

body {
    min-width: 320px;
    background-color: var(--off-white);
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header__mainLogo {
    width: 150px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.header__titleContainer {
    width: 85%;
    max-width: 900px;
    color: var(--just-white);
}

.header__mainTitle {
    font-size: 2.4rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.header__mainSubtitle {
    font-size: 1.4rem;
    margin-bottom: 30px;
    font-weight: 400;
}

.header__btn {
    position: absolute;
    bottom: -25px;
    padding: 15px 17px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--off-white);
    display: flex;
    align-items: center;
}

.header__btnIcon {
    display: inline-block;
    width: 13px;
    height: 8px;
    background-image: url(../assets/icons/down.svg);
    background-repeat: no-repeat;
    margin-left: 14px;
}

.exchangeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 17px;
}

.exchangeContainer__image {
    background-image: url(../assets/img/Bitcoin.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.exchangeContainer__title {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 24px;
}

.exchangeContainer__p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    color: var(--warm-black);
    margin-bottom: 48px;
}

.exchangeContainer__currencyTitle {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 1.8rem;
    color: var(--bitcoin-orange);
}

.exchangeContainer__currencyTable {
    font-family: "Inter";
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray);
    background-color: var(--just-white);
    width: 75%;
    border-radius: 8px;
    margin-bottom: 16px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr auto auto;
}

.exchangeContainer__currencyName {
    margin: 11px;
}

.exchangeContainer__currencyPrice {
    margin-left: 11px;
    margin-right: 11px;
    align-self: center;
}

.exchangeContainer__currencyDir {
    background-image: url(../assets/icons/trending-down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    align-self: center;
    margin-right: 11px;
}

.exchangeContainer__currencyDir--up {
    background-image: url(../assets/icons/trending-up.svg);
}

.exchangeContainer__updateDate {
    font-family: "Inter";
    font-size: 1.2rem;
    background-color: var(--soft-orange);
    padding: 8px;
    margin-bottom: 65px;
}

.exchangeContainer__updateDate--bold {
    font-weight: bold;
}

.productDetail {
    background-color: var(--warm-black);
    color: var(--just-white);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productDetail__icon {
    position: relative;
    width: 40px;
    height: 25px;
    background-image: url(../assets/img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 12px;
}

.productDetail__title {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.productDetail__p {
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    width: 90%;
    color: var(--gray);
    margin-bottom: 32px;
}

.productDetail__cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productDetail__card {
    width: 90%;
    background-color: var(--black);
    padding: 16px;
    margin-bottom: 16px;
}

.productDetail__cardTitle {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.productDetail__cardText {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--gray);
}

.productDetail__cardIcon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 12px;
}

.productDetail__cardIcon--clock {
    background-image: url(../assets/icons/clock.svg);
}
.productDetail__cardIcon--eye {
    background-image: url(../assets/icons/eye.svg);
}
.productDetail__cardIcon--dollar {
    background-image: url(../assets/icons/dollar-sign.svg);
}
.productDetail__cardIcon--check {
    background-image: url(../assets/icons/check-circle.svg);
}

.bitcoinImgContainer {
    width: 100%;
    height: 380px;
    background-image: url(../assets/img/bitcoinbaby.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;
}

.bitcoinImgContainer__title {
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--just-white);
    text-align: center;
}

.plans {
}

.plans__title {
    font-weight: bold;
    font-size: 2.4rem;
    margin: 64px 15px 24px;
    color: var(--warm-black);
    text-align: center;
}

.plans__p {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0 15px 40px;
    color: var(--gray);
    text-align: center;
}

.plans__cardsContainer {
    padding-top: 25px;
    margin-left: 20px;
    margin-bottom: 65px;
    display: flex;
    align-items: flex-start;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans__card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    margin-right: 20px;
    background-color: var(--just-white);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans__cardHeaderText {
    position: absolute;
    top: -15px;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
    padding: 8px;
    border-radius: 8px;
}

.plans__cardTitle {
    font-weight: bold;
    color: var(--warm-black);
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 8px;
}

.plans__cardPrice {
    position: relative;
    font-size: 5.2rem;
    font-weight: bold;
    font-family: "Inter";
    margin-bottom: 16px;
}

.plans__cardPriceDollar {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 400;
    left: -12px;
    top: 10px;
}

.plans__cardBodyText {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 16px;
    text-align: center;
}

.plans__cardBtn {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--warm-black);
    border: 2px solid var(--bitcoin-orange);
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.plans__cardBtnIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../assets/icons/arrow-right.svg);
    margin-left: 8px;
}
